


/*
.contents2{
	width: 100%;
	height:50%;
	position: fixed;
	top:0px;
	right:0px;
	background-color: #50678E;
	margin-bottom: -50%;
	overflow: scroll;
	transition: 0.5s;
}

.contents.bottom {
	margin-bottom: 0%;
	transition: 0.5s;
}*/