body {
	font-family: Helvetica;
  font-weight: thin;
	font-size: 32px;
}

a { color: black; 
text-decoration: none;

}

@font-face{
  font-family:terminal_grotesque;
  src:url(terminal-grotesque.ttf);
}

@font-face{
  font-family:terminal_grotesque_open;
  src:url(terminal-grotesque_open);
}


/*START TOP NAV*/

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  word-wrap: normal;
}

/* Change the color  of links on hover */
.topnav a:hover {
  color: #778899;
}

/* Add a color to the active/current link */
.topnav a.alpha {
  color: black;
  font-size: 30px;
  padding: 20px 16px;
}


/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  font-size: 15px;
  padding: 20px 16px;
  word-wrap: break-word;
}

/*Graphic + Art*/
.bio {
  font-size: 15px;
  position:fixed; 
  top:55px;
  left: 14px
}

/*END TOP NAV*/


/*HOME NAV*/
.homenav a {
  position:fixed;
  bottom:0px;
  left:0px;
  padding:10px 10px;
  font-size: 15px
}

.homenav a:hover{
  color: #778899;
}
/*HOME NAV END*/



.uni {
	padding: 10px;
  color: green;
}

.per {
  padding: 10px;
  color: orange;
  border-top: 5px;
}

.table {
	margin-top: 20px;
  font-size: 22px;
}


.row {
	display: flex;
	flex-wrap:wrap;
	border-top: .7px solid black;
	padding: 7px;
  cursor:pointer;
}

.row a:hover{
 color: #778899;
}

.noline{
	display: flex;
	flex-wrap:wrap;
	border-top: 0px;
	padding: 5px;

}

.ital{
font-family: Georgia;
flex:0 0 50%;
font-style: italic;
font-size: 16px;
border-top: 0px;

}

.italbig{
flex:0 0 50%;
font-style: italic;
font-size: 22px;
border-top: 0px;

}

.title {
	flex:0 0 50%;
}

.type {
	flex:0 0 25%;
}

.date {
	flex:0 0 25%;
}


/*START OF IMG*/


.image.show {
  display: flex;
}

.image{
  position: fixed;
  height:100vh;
  width:100vw;
  top:0px;
  cursor: pointer;
  display:none;
  pointer-events: none;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  display:none;
  pointer-events: none;
}

.hi{
  color: #778899;
}


/*links*/

.head{
font-family: Georgia;
flex:0 0 50%;
font-style: italic;
font-size: 16px;
border-top: 0px;
padding:10px 10px 0px;

}

.body{
  font-size:16px;
  font-family:Helvetica;
  letter-spacing: 0.5px;
  line-height: 120%;
  font-weight: lighter;
  text-align:left;
  width:400px;
  padding:5px 10px 0px;
}

.body2{
  font-size:16px;
  font-family:Helvetica;
  letter-spacing: 0.5px;
  line-height: 120%;
  font-weight: lighter;
  text-align:left;
  width:700px;
  padding:5px 10px 0px;
}

.bodyimg{
  border:20px;
  border-style: none;
  padding:10px 10px 10px;
  width:100%;

}

.bodynav{
  font-size:16px;
  font-family:Helvetica;
  letter-spacing: 0.5px;
  line-height: 120%;
  font-weight: lighter;
  text-align:left;
  width:400px;
  padding:5px 10px 0px;
}

.bodynav a:hover{
  color: #778899;
}

html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


/*popups test*/

.home-image .img-show {
        display: none;
        position: absolute;
        width: 500px;
        top: -81px;
        left: 600px;
        z-index: 0;
    }
.home-image:hover .img-show {
        display: inline;
    }

.home-image .img-show2 {
        display: none;
        position: absolute;
        width: 500px;
        top: -81px;
        left: 600px;
        z-index: 0;
    }
.home-image:hover .img-show2 {
        display: inline;
    }

.home-image .img-show3 {
        display: none;
        position: absolute;
        width: 500px;
        top: -107px;
        left: 600px;
        z-index: 0;
    }
.home-image:hover .img-show3 {
        display: inline;
    }

.home-image .img-show4 {
        display: none;
        position: absolute;
        width: 500px;
        top: -107px;
        left: 600px;
        z-index: 0;
    }
.home-image:hover .img-show4 {
        display: inline;
    }