body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 32px;
}

a {
	color:black;
}

/** {
  outline:1px solid black;
}*/

/*START TOP NAV*/

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color  of links on hover */
.topnav a:hover {
  color: #778899;
}

/* Add a color to the active/current link */
.topnav a.alpha {
  color: black;
  font-size: 30px;
  padding: 20px 16px;
}


/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  font-size: 15px;
  padding: 20px 16px;
}

/*Graphic + Art*/
.bio {
  font-size: 15px;
  position:fixed; 
  top:55px;
  left: 14px
}

/*END TOP NAV*/


/*HOME NAV*/
.homenav a {
  position:fixed;
  bottom:0px;
  left:0px;
  padding:10px 10px;
  font-size: 15px
}

.homenav a:hover{
  color: #778899;
}
/*HOME NAV END*/


  /*start archive*/
.examples .content {
  border-radius: 80px;
  text-align: center;
}


.masthead {
  background-image:url("https://images.metmuseum.org/CRDImages/ad/original/ap67.187.138.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  height:100vh;
  width:100vw;
  align-items:center;
  justify-content: center;
}

.overlay {
  height:80vh;
}

.overlay img {
  height: 100%;
  width:auto;
}

.twopage .col {
  height:100vh;
  overflow: scroll;
}

.fourcol .col {
  height:50vh;
  display: flex;
    justify-content: center;
}

.fourcol .content {
  height: 100%;
  align-items: center;
}

.fourcol .col img {
  height: 100%;
  width: auto;
}

.align-bottom {
  align-items: flex-end;
}

.justify-right {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.fours {
  font-size:14px;
}

.offset-left {
  margin-left: 25%;
}

.images img {
  width: 100%;
}

.sources a{
  display: block;
}

/*end archive*/

.content-minor {
  font-size: 15px;
}


/*start images*/
.image-center {
  margin-left:18%;
  max-width:500px;
  max-height:500px;
}
/*end images*/



/*start video background*/
/*if all else fails, change back to . trailer on both css and index */

.trailer {
  position:fixed;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  min-width: 100%;
  min-height: 100%;
  width:auto;
  height:auto;
  top:0px;
  left:0px;
  z-index:-1;
}

  /*end video background */

  .audio {
    position:fixed;
    align-items: baseline;
    bottom: 0px;
    right:0px;
  }

/*audio*/

/*video start*/

[data-video] {
  position: relative;
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
[data-video] * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*video end*/

/*contact image*/

.row{
  width:100%;
  display:flex;
  flex-direction:row;
  .img{
    flex: 0 1 300px
  }
}
.justify-content-center{
  justify-content:center;
  
}

/*contact image*/




  /*icon*/
  
  .icon {
  top:0px;
  right:0px;
  position:fixed;
  max-width:70px;
  max-height:70px;
}


